@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?z5kivn');
    src: url('fonts/icomoon.eot?z5kivn#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?z5kivn') format('truetype'),
      url('fonts/icomoon.woff?z5kivn') format('woff'),
      url('fonts/icomoon.svg?z5kivn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-camara:before {
    content: "\e90f";
  }
  
  .icon-location:before {
    content: "\e948";
  }
  
  .icon-bubbles:before {
    content: "\e970";
  }
  
  .icon-user:before {
    content: "\e971";
  }
  
  .icon-users:before {
    content: "\e972";
  }
  
  .icon-Copa:before {
    content: "\e99e";
  }
  
  .icon-ModoOscuro:before {
    content: "\e9d6";
  }
  
  .icon-facebook:before {
    content: "\ea91";
  }
  
  .icon-instagram:before {
    content: "\ea92";
  }
  
  .icon-whatsapp:before {
    content: "\ea93";
  }
  
  .icon-telegram:before {
    content: "\ea95";
  }
  
  .icon-twitter:before {
    content: "\ea96";
  }


html {
    background-color: #040740;
    font-family: 'Kalnia';
    color:#E0E724;
  }
  


  .BurgerButton {
    display: none;
  }
  
  .Burger {
    display: none;
  }
  
  .container {
    overflow: hidden;
    position: relative;
    height: 15em;
    max-width: 25em;
    margin: auto;
    border: 0.2em solid black;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    text-align: center;
    right: 100%;
    padding: 1em;
    background-color: #151967;
    width: 20%;
    height: 45%;
    transform: translateX(1em);
    transition: 0.2s transform;
    color: #E0E724;
    font-weight: bold;
    font-family: 'Kalnia', serif;
  }
  
  nav:hover,
  nav:focus-within {
    transform: translateX(100%);
  }
  
  .Menu div {
  
    margin-bottom: 10px;
  
  
  }
  
  .TituloMenu {
    color: #E0E724;
    font-size: 200%;
    margin-bottom: 5%;
  }
  
  .Iconos {
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
  }
  
  .icon-facebook {
    font-size: 20px;
  margin-left: 12%;
  
  }
  
  .icon-instagram,
  .icon-whatsapp,
  .icon-telegram,
  .icon-twitter {
    margin-left: 15%;
    font-size: 20px;
  }
  
  .Menu a {
    font-size: 20px;
  }
  
  .Menu a:hover {
    color: white;

  }
  


 
  
  
  .boton{
  border-color: #E0E724;
  background-color: #040740;
  color:#E0E724;
  border-radius: 15%;
  cursor: pointer;
  }
  .boton:hover{
    background-color: #E0E724;
    color:#040740;
    }



h1 {
  text-align: center;
font-size: 40px;
}

h1, h2 {
  color:  #E0E724;
}
h4 {
  font-size: 40px;
  margin: 0;
  margin-top: 10px;
}

main {
  margin: 40px 10%;
  font-weight: bold;
}

section {
  background-color: #151967;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.clases{

  display: flex;
  flex-direction: row;
  

}
.clase{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  color:  #E0E724;

flex: 1;
}


.clases .clase, .campus, .profesores, .preparadores-fisicos {
  margin-bottom: 20px;
}


.clase img {
  width: 320px;
height: 200px;
  border-radius: 10px;
align-items: center;
}
.clase h2 {
font-size: 30px;
}
.clase p {
  font-size: 14px;
  }

.campus,.preparadores-fisicos,.profesores {
  display: flex;
  flex-direction: row;
}
.campus img,.preparadores-fisicos img{
  width: 40%;
  flex: 1;
  border-radius: 10px;
}
.Columna{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 60px;
  margin-right: 60px;

}
.profesores img{
  width: 300px;
  border-radius: 10px;
  flex: 1;
margin: 20px;
}

footer {
  background-color: #151967;
  padding: 20px;
  text-align: center;
  color: #bfc439;
  font-family: 'Kalnia';
  font-weight: bold;
}

a {
  color: #bfc439;
  text-decoration: none;
}

h2{
  font-size: 24px;
}

