<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/main/resources/static/css/PaginaWeb/PaginaWeb.css">
  <link rel="stylesheet" th:href="@{/css/PaginaWeb/PaginaWeb.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@200&family=Whisper&display=swap" rel="stylesheet">
  <title>Club de pádel</title>
  <nav class="Menu">

    <input type="checkbox" id="BurgerButton" class="BurgerButton">
      <label for="BurgerButton" class="Burger">&#9776;</label>
      <div class="Hambur">
    <div class="TituloMenu">Club de Padel</div>
    <div class="Iconos"> <div class="icon-facebook"></div><div class="icon-instagram"></div><div class="icon-whatsapp"></div><div class="icon-telegram"></div></div>
   <div class="icon-users"> <a href="/src/main/resources/templates/PaginaWeb/Clases.html">Clases</a></div>
    <div class="icon-Copa"> <a href="/src/main/resources/templates/PaginaWeb/Torneos.html">Torneos</a></div>
    <div class="icon-camara"> <a href="/src/main/resources/templates/PaginaWeb/Instalaciones.html">Instalaciones</a></div>

 
    <div class="icon-bubbles"> <a href="/src/main/resources/templates/PaginaWeb/Formulario.html">Contactanos</a></div>

    <br>

    <div class="icon-user BotonSesion"> <button id="boton" class="boton">Iniciar Sesion</button>  </div>
 
    <br>

  <!-- <div class="icon-ModoOscuro"> <button id="boton" class="boton">Modo Oscuro</button>
    <script src="./scripts/script.js"></script>  </div>
  </div>-->



 

  </nav>
</head>
<body>
  <header>
    <div class="TextoA">Tu Club de pádel preferido</div>
    <div class="Titulo">Club De Pádel Cidón</div>
  </header>
  <main>
    <div class="Titulo2"><h1>Sobre Nosotros</h1></div>
    <div class="Quien">
	
		
		<img class="Img1" src="/src/main/resources/static/img/Img2.webp" alt="Img1" />
	 <!--<img  th:src="@{/img/Img2.webp}"class="Img1"  alt="Img1" />-->
      <div class="Texto1">
        <h1>¿Quiénes Somos?</h1>
        <h2>Más que un simple club, Pádel Cidón es un centro deportivo y de ocio incomparable donde todos pueden disfrutar y sentirse parte de nuestra comunidad, sin necesidad de ser socios. Reconocido como el Mejor club de pádel del mundo en los Padel World Awards en 2018 y 2021.</h2>
      </div>
    </div>
    <div class="Titulo2"><h1>Normativa</h1></div>
    <section class="Normativa">
      <div class="Texto1">
        <h1>Normas de Convivencia</h1>
        <h2>Para garantizar una experiencia agradable para todos, solicitamos que los jugadores respeten los horarios de reserva, usen calzado adecuado en las pistas y mantengan una actitud deportiva en todo momento. El incumplimiento de estas normas puede resultar en la suspensión temporal del uso de las instalaciones.</h2>
      </div>
      <img class="Img2" src="/src/main/resources/static/img/Normativa.jpg" alt="Img2" />
    </section>
    <div class="Titulo3"><h1>Nuestros Patrocinadores</h1></div>
    <section class="Normativa">
      <img class="Img3" src="/src/main/resources/static/img/Adidas.jpg" alt="Img3" />
      <img class="Img4" src="/src/main/resources/static/img/mahou.png" alt="Img4" />
      <img class="Img5" src="/src/main/resources/static/img/BullPadel.png" alt="Img5" />
    </section>



    <div class="Titulo3"><h1>Donde nos Encontramos</h1></div>
    <section class="Mapa">
    <h2>Vía de los Poblados 3, 28033 Madrid, España</h2>
      <section class="Mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.4839575880014!2d-3.6541235846081114!3d40.46975917935913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42297c2ff7cbb9%3A0x5cf7244b8828c589!2sV%C3%ADa%20de%20los%20Poblados%2C%203%2C%2028033%20Madrid!5e0!3m2!1sen!2ses!4v1620249485375!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </section>
  </main>
</section>
  <footer>
    <div class="footer-content">
      <p>Copyright © 2024 | <a href="#">Aviso legal</a> | <a href="#">Política de privacidad y cookies</a></p>
      <p>CONTACTO</p>
      <p>999 999 999 | <a href="mailto:info@padelcidon.com">info@padelcidon.com</a></p>
      
    </div>
  </footer>
</body>
</html>
